@import './reset';

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
	--color1: #fff6e0;
	--color2: #09412f;
	--color3: #d90452;
	--color4: #2b3040;
	--color5: #027368;
	--color6: #f2a74b;
	--color7: #d96f32;
	--color8: #fff;
}

body {
	position: relative;
	width: 100%;
	min-height: 100vh;
	font-size: 0.94rem;
	font-family: Poppins, sans-serif;
	line-height: 1.5;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow-x: hidden;
	background: #000000;
	
	&:before {
		filter: blur(2px);
		z-index: -2;
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url('../media/background.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	
	&:after {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		content: '';
		width: 100%;
		height: 100%;
		background: #2b3040;
		opacity: .3;
	}
}

.card {
	max-width: 546px;
	width: 300px;
	height: 400px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 20px;
	margin: 20px;
	background: var(--color8);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
	background-color: transparent;
	perspective: 1000px;
}

.flip {
	transform: rotateY(180deg);
}

.card-inner-box {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin: 10px 0;
	position: relative;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-front, .card-back {
	border-radius: 5px;
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background: #FFFFFF;
}

.card-front {
	color: black;
	display: flex;
	
	.card-front-from {
		width: 100%;
		display: flex;
		flex-direction: column;
		height: 100%;
		
		.search {
			display: flex;
			height: 100%;
			
			.search-content {
				margin-top: auto;
				margin-bottom: auto;
			}
		}
		
		.card-front-submit {
			border: none;
			padding: 1rem;
			cursor: pointer;
		}
	}
}

.card-back {
	background: rgb(83,147,178);
	background: linear-gradient(180deg, rgba(83,147,178,1) 0%, rgba(167,189,202,1) 100%);
	color: white;
	transform: rotateY(180deg);
}

.card-paragraph {
	text-align: start;
	margin: 10px 0;
}
