<template>
  <div>
    <form class="form form-login p-6" @submit="handleSubmit">
      <div class="card">
        <div class="card-inner-box" v-bind:class="{ flip: this.flip }">
          <div class="card-front">
            <div class="card-front-from">
              <div class="search">
                <div class="search-content">
                  <label for="searchCity">Rechercher une ville</label>
                  <input
                    name="searchCity"
                    id="searchCity"
                    type="text"
                    placeholder="Gren..."
                    v-model="city"
                    required
                  />
                </div>
              </div>
              <input
                class="card-front-submit"
                type="submit"
                value="Rechercher"
              />
            </div>
          </div>
          <div v-if="this.flip" class="card-back">
            <h1>Nom de la ville: {{ this.result.name }}</h1>
            <p>Temps: {{ this.result.weather[0].main }}</p>
            <img :src="'http://openweathermap.org/img/wn/'+this.result.weather[0].icon+'@2x.png'" alt="ok" />
            <p>Température Actuelle: {{ transformCelsius(this.result.main.temp) }}</p>
            <p>Température Maximum: {{ transformCelsius(this.result.main.temp_max) }}</p>
            <p>Température minimum: {{ transformCelsius(this.result.main.temp_min) }}</p>
            <p>Latitude: {{ this.result.coord.lat }}</p>
            <p>Longitude: {{ this.result.coord.lon }}</p>
            <p>Date d'aujourd'hui: {{ new Date() }}</p>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import axios from "axios";
import "./assets/scss/App.scss";
export default {
  name: "App",

  data: function() {
    return {
      flip: false,
      city: "",
      error: false,
      result: null
    };
  },

  methods: {
    handleSubmit: function(e) {
      e.preventDefault();
      const ApiKey = "623484a95cfbe2c1d10f75ff89eff783";

      axios({
        method: "GET",
        url: `http://api.openweathermap.org/data/2.5/weather?q=${this.city}&appid=${ApiKey}`
      })
        .then(res => {
          console.log(res.data);
          this.flip = true;
          this.error = false;
          this.result = res.data;
          this.city = "";
        })
        .catch(() => (this.error = true));
    },

    /**
     * Transform Kelvin to Celsius
     * @param {number} temp
     * @return {number}
     */
    transformCelsius(temp) {
      let celsius = temp - 273.15;
      celsius = Math.floor(celsius);
      return celsius;
    }
  }
};
</script>
